# Ignore for Python cache files
__pycache__/

# Ignore directory for products_up_helper/
products_to_toy_design_help_folder/products_ys_images/

# Ignore directory for toy products
products_toy/toy/each_brand_products/
products_toy/toy/logs/

# Ignore copy of toy copy products
products_toy/toy copy/
products_toy/toy-copy/