<!-- Shared Sub Header Navigation Component -->
<div class="sub-header">
  <div class="sub-header-content">
    <nav class="sub-header-nav">
      <a class="sub-header-link all-products-link active" href="javascript:void(0)" onclick="handleNavigationClick('')">See All Departments</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="action-figures" data-toy-group="ActionFiguresRolePlay" onclick="handleNavigationClick('group:ActionFiguresRolePlay')">Action Figures &amp; Role Play</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="dolls-plush" data-toy-group="DollsPlushToys" onclick="handleNavigationClick('group:DollsPlushToys')">Dolls &amp; Plush Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="electronic-interactive" data-toy-group="ElectronicInteractiveToys" onclick="handleNavigationClick('group:ElectronicInteractiveToys')">Electronic &amp; Interactive Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="building-blocks" data-toy-group="BuildingBlocksConstruction" onclick="handleNavigationClick('group:BuildingBlocksConstruction')">Building Blocks &amp; Construction</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="puzzles-board" data-toy-group="PuzzlesBoardGames" onclick="handleNavigationClick('group:PuzzlesBoardGames')">Puzzles &amp; Board Games</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="arts-crafts" data-toy-group="ArtsCraftsToys" onclick="handleNavigationClick('group:ArtsCraftsToys')">Arts &amp; Crafts Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="pop-culture" data-toy-group="PopCultureLicensedToys" onclick="handleNavigationClick('group:PopCultureLicensedToys')">Pop Culture &amp; Licensed Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="outdoor-sports" data-toy-group="OutdoorSportsToys" onclick="handleNavigationClick('group:OutdoorSportsToys')">Outdoor &amp; Sports Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="traditional" data-toy-group="TraditionalToys" onclick="handleNavigationClick('group:TraditionalToys')">Traditional Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="vehicles-ride-on" data-toy-group="VehiclesRideOnToys" onclick="handleNavigationClick('group:VehiclesRideOnToys')">Vehicles &amp; Ride-On Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="educational" data-toy-group="EducationalToys" onclick="handleNavigationClick('group:EducationalToys')">Educational Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="inflatable-water" data-toy-group="InflatableWaterToys" onclick="handleNavigationClick('group:InflatableWaterToys')">Inflatable &amp; Water Toys</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="other-industries" data-toy-group="OtherIndustries" onclick="handleNavigationClick('group:OtherIndustries')">Other Industries</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="other-toys" data-toy-group="OtherToys" onclick="handleNavigationClick('group:OtherToys')">Other Toys</a>
    </nav>
  </div>

  <div class="sub-header-submenu" id="submenu-action-figures" data-toy-group="ActionFiguresRolePlay">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-dolls-plush" data-toy-group="DollsPlushToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-electronic-interactive" data-toy-group="ElectronicInteractiveToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-building-blocks" data-toy-group="BuildingBlocksConstruction">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-puzzles-board" data-toy-group="PuzzlesBoardGames">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-arts-crafts" data-toy-group="ArtsCraftsToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-pop-culture" data-toy-group="PopCultureLicensedToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-outdoor-sports" data-toy-group="OutdoorSportsToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-traditional" data-toy-group="TraditionalToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-vehicles-ride-on" data-toy-group="VehiclesRideOnToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-educational" data-toy-group="EducationalToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-inflatable-water" data-toy-group="InflatableWaterToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-other-industries" data-toy-group="OtherIndustries">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>

  <div class="sub-header-submenu" id="submenu-other-toys" data-toy-group="OtherToys">
    <div class="sub-header-submenu-content js-toy-submenu-content"></div>
  </div>
</div>
