<div class="departments-sidebar">
  <div class="departments-items">
    <div class="department-group" data-toy-group="ActionFiguresRolePlay">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:ActionFiguresRolePlay')">Action Figures &amp; Role Play</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="DollsPlushToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:DollsPlushToys')">Dolls &amp; Plush Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="ElectronicInteractiveToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:ElectronicInteractiveToys')">Electronic &amp; Interactive Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="BuildingBlocksConstruction">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:BuildingBlocksConstruction')">Building Blocks &amp; Construction</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="PuzzlesBoardGames">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:PuzzlesBoardGames')">Puzzles &amp; Board Games</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="ArtsCraftsToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:ArtsCraftsToys')">Arts &amp; Crafts Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="PopCultureLicensedToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:PopCultureLicensedToys')">Pop Culture &amp; Licensed Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="OutdoorSportsToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:OutdoorSportsToys')">Outdoor &amp; Sports Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="TraditionalToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:TraditionalToys')">Traditional Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="VehiclesRideOnToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:VehiclesRideOnToys')">Vehicles &amp; Ride-On Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="EducationalToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:EducationalToys')">Educational Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="InflatableWaterToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:InflatableWaterToys')">Inflatable &amp; Water Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="OtherIndustries">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:OtherIndustries')">Other Industries</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
    <div class="department-group" data-toy-group="OtherToys">
      <a class="department-link expandable" href="javascript:void(0)" onclick="handleNavigationClick('group:OtherToys')">Other Toys</a>
      <div class="submenu">
        <div class="submenu-content js-sidebar-submenu"></div>
      </div>
    </div>
  </div>
</div>
